header {
  background-color: url('images/Big\ Striped\ Square\ Earrings\ Gold\ Geometric\ Large\ African\ Statement\ Trible\ Boho\ Chunky\ Oversized\ Modern\ Polymer\ clay\ \ jewelry\ handmade.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  background-color: antiquewhite;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60 px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

nav li span {
  padding: 5px;
} 

li a {
  padding: 5px;
  background-color: #fff;
  text-decoration: none;
}

.cart ion-icon {
  padding: 5px;
  background-color: #fff;
  text-decoration: none;
}

.cart a {
  background-color: aquamarine;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}

.image {
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.add-cart {
  position: absolute;
  width: 100%;
  background-color: darkgrey;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5,
.image:hover .cart6,
.image:hover .cart7,
.image:hover .cart8 {
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}